@import "tailwindcss";

@theme {
  --color-primary: #F4B942;
  --color-secondary: #5EC0D9;
  --color-background: #F5F5F5;
  --color-surface: #FFFFFF;

  --font-display: "Fredoka", sans-serif;
  --font-body: "Inter", sans-serif;
}

@keyframes scrollVertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll {
  animation: scrollVertical 20s linear infinite;
}